{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: 'list' }}__item">
  <article class="archive__item" itemscope itemtype="https://schema.org/CreativeWork">
    <h2 class="archive__item-title no_toc" itemprop="headline">
      <a href="{{ post.url | relative_url }}" rel="permalink">{{ title }}</a>
    </h2>
    <p class="archive__item-date" itemprop="datePublished">{{ post.date | date: "%A, %B %d, %Y" }}</p>
  </article>
  <hr>
</div>
